<div class="container-fluid main-div">
    <div class="row"  style="background-image: url('assets/images/bluredBG.png');overflow: hidden">
        <div class="col-md-4 offset-md-4 login"> <!-- Pink background with opacity -->
            <img src="assets/gif/animated-logo-huge.gif" alt="gif">
            <h3>👋 Welcome Back</h3>
            <p class="text-center">Please enter your email address below. If your email is associated with an account and has been activated, you will receive a Reset Password link.</p>

            <form #resetPassword="ngForm" (ngSubmit)="onSubmit(resetPassword.value)">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" required ngModel name="email">
                </div>
              
                <button type="submit" class="btn  w-100" [disabled]="resetPassword.invalid">Request for new password</button>
            </form>
            <p>Don't have an account?<span> <a routerLink="/getStarted" > Sign up for free</a></span></p>
      

        </div>
    </div>
</div>