<div class="container-fluid main-div">
    <div class="row"  style="background-image: url('assets/images/bluredBG.png');overflow: hidden">
        <div class="col-md-4 offset-md-4 login"> <!-- Pink background with opacity -->
            <img src="assets/gif/animated-logo-huge.gif" alt="gif">
            <h3>👋 Welcome Back</h3>
            <p>please login</p>

            <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" ngModel required>
                </div>
                <button type="submit" class="btn  w-100" [disabled]="loginForm.invalid" >Sign In</button>
            </form>
            <p>Don't have an account?<span> <a routerLink="/getStarted" > Sign up for free</a></span></p>
            <p>Trouble logging in? <span> <a routerLink="/reset-password"  > Request new password</a></span></p>

        </div>
    </div>
</div>