<div class="container-fluid main-div">
    <div class="row"  style="background-image: url('assets/images/bluredBG.png');overflow: hidden">
        <div class="col-md-4 offset-md-4 login"> <!-- Pink background with opacity -->
            <img src="assets/gif/animated-logo-huge.gif" alt="gif">
            <h3>👋 Welcome Back</h3>
            <p>please login</p>

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn  w-100" routerLink="/user-account">Sign In</button>
            </form>
            <p>Don't have an account?<span> <a > Sign up for free</a></span></p>
            <p>Trouble logging in? <span> <a > Request new password</a></span></p>

        </div>
    </div>
</div>