


<section class="container-fluid">
    <div class="col-md-6 col-12  complete-div  " *ngIf="counter===0">
      
        <div class="circle ">
            <h4 class="mb-0">1</h4>
        </div>
        <div class="card py-4 ps-4" style="width: 35rem;">
            <div>
                <img src="assets/images/companyIcon-blue.png" width="16%" alt="">
            </div>
            <div class="my-3">
                <h4>Company Information:</h4>

            </div>
            <form  class="company-reg" #emailForCompany="ngForm" (ngSubmit)="onSubmitEmail(emailForCompany.value)">
                <label for="company-name">Company legal name</label>
                <input type="text" id="company-name" placeholder="My Company, LLC." ngModel name="compName">
                <label for="Admin-email">Admin email</label>
                <p class="mb-2">💡Used for company dashboard notifications & administration</p>
                <input type="email" placeholder="mycompany@mycompany.com" ngModel name="compEmail">
                <div class="d-flex text-start my-3 " style="text-align: start;">
                    <input type="checkbox" name="" id="policy" style="height: 20px!important; width: 90px!important;">
                    <label for="policy">Would you like to set this company as your primary dashboard?</label>
                </div>
                <div>
                    <button class="btn mt-2 " style="width: 30%!important;">Exit</button>
                    <button type="submit" class="btn mt-2 ms-5" style="width: 30%!important;" (click)="counterPlus()">Next</button>
                </div>
            </form>

        </div>
    </div>
    <!-- <div class="col-md-6 col-12  complete-div  " *ngIf="counter===1">
        <div class="back-arrow">
            <button style="background: none; border: none;" (click)="counterMinus()"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
        <div class="circle ">
            <h4 class="mb-0">2</h4>
        </div>
        <div class="card py-4 ps-4" style="width: 35rem;">
            <div>
                <img src="assets/images/briefCaseIcon-green.png" width="16%" alt="">
            </div>
            <div class="my-3">
                <h4>Corporate form</h4>
                <p class="mb-1">💡The below information is used to populate your documents.</p>
            </div>
            <div class="card  " style="width: 100%; border: none;">
         
                <div class="col-12 btn-group mt-2">
                    <button>Limited Company</button>
                    <button>Sole Proprietorship</button>
                </div>
                <div class="col-12 btn-group">
                    <button>C-Corporation</button>
                    <button>S-Corporation</button>
                </div>
                <div class="col-12 btn-group">
                    <button>Professional Corporation</button>
                    <button>Limited Liability Company</button>
                </div>
                <div class="col-12 btn-group">
                    <button> Liability Limited Partnership</button>
                    <button>Keogh Plan</button>
                </div>
                <div class="col-12 btn-group">
                    <button>Limited Liability Partnership</button>
                    <button>Limited Partnership</button>
                </div>
                <div class="col-12 btn-group">
                    <button>Employment Benefit Plan</button>
                    <button>Endowment</button>
                </div> 
                <div class="col-12 btn-group">
                    <button>  Foundation</button>
                    <button>Trust </button>
                </div>
                <div class="d-flex gap-4">
                    <button class="btn mt-2" style="width: 30%!important;" (click)="counterPlus()">Skip</button>
                <button class="btn mt-2" style="width: 30%!important;" (click)="counterPlus()">Next</button>
                </div>
            </div>

        </div> -->
    <!-- </div> -->
    <div class="col-md-6 col-12  complete-div  " *ngIf="counter===1">
        <div class="back-arrow">
            <button style="background: none; border: none;" (click)="counterMinus()"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
        <div class="circle ">
            <h4 class="mb-0">3</h4>
        </div>
        <div class="card py-4 ps-4" style="width: 35rem;">
            <div>
                <img src="assets/images/mapIcon-blue.png" width="16%" alt="">
            </div>
            <div class="my-3">
                <h4>In what state was your company formed?</h4>
                <p>💡The below information is used to populate your documents.</p>
            </div>
            <form  class="company-reg" #compName="ngForm" (ngSubmit)="onSubmitName(compName.value)">
                <label for="company-name">Company legal name</label>
                <input type="text" id="company-name" placeholder="My Company, LLC." style="width: 70%!important;">
                <div>
                    <button class="btn mt-2 " style="width: 30%!important;" (click)="counterPlus()">Skip</button>
                    <button type="submit" class="btn mt-2 ms-5" style="width: 30%!important;" (click)="counterPlus()">Next</button>
                </div>
            </form>

        </div>
    </div>
    <div class="col-md-6 col-12  complete-div " *ngIf="counter===2">
        <div class="back-arrow">
            <button style="background: none; border: none;" (click)="counterMinus()"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
      <div class="circle ">
          <h4 class="mb-0">4</h4>
      </div>
      <div class="card py-4 ps-4" style="width: 30rem;">
        <div>
            <img src="assets/images/watchIcon-green.png" width="20%" alt="">
        </div>
          <h4>Company time zone</h4>
          <p>💡The below information is used to display correct dates & populate your documents.</p>
          <div class="col-12 btn-group mt-2">
              <button (click)="timeZone('Automatically detect')">Automatically detect</button>
              <button (click)="timeZone('Hawaii')">Hawaii</button>
          </div>
          <div class="col-12 btn-group">
              <button (click)="timeZone('Pacific')">Pacific</button>
              <button (click)="timeZone('Mountain')">Mountain</button>
          </div>
          <div class="col-12 btn-group">
              <button (click)="timeZone('Central')">Central</button>
              <button (click)="timeZone('Eastern')">Eastern</button>
          </div>
          <div class="col-12 btn-group">
              <button (click)="timeZone('Other')">Other</button>

          </div>
          <button class="btn mt-2" style="width: 30%!important;" (click)="counterPlus()">Next</button>
      </div>
  </div>
    <div class="col-md-6 col-12  complete-div " *ngIf="counter===3">
        <div class="back-arrow">
            <button style="background: none; border: none;" (click)="counterMinus()"><i class="fa-solid fa-arrow-up"></i></button>
        </div>
        <div class="circle ">
            <h4 class="mb-0">5</h4>
        </div>
        <div class="card py-4 ps-4" style="width: 30rem;">
            <div>
                <img src="assets/images/locationIcon-blue.png" width="20%" alt="">
            </div>
            <div>
                <h4>What is your company address??</h4>
                <p>(Optional) 💡The below information is used to populate your documents</p>
            </div>
            <form  class="address-card" #compAddress="ngForm" (ngSubmit)="onSubmitAddress(compAddress.value)">
                <input type="text" placeholder="Enter Country Name" ngModel name="country">
                <input type="text" placeholder="Enter State Name" ngModel name="state">
                <input type="text" placeholder="Enter city Name" ngModel name="city">
                <input type="text" placeholder="Enter  Zip Code" ngModel name="zip">
                <div>

                    <button  class="btn mt-2 ms-5" style="width: 30%!important;"(click)="counterPlus()" >Create</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6 col-12  intro-card" *ngIf="counter===4">
        <div class="card py-4" style="width: 24rem;">
            <div class="card-body text-center">
                <div>
                    <img src="assets/images/animated-success-confetti.gif" width="40%" alt="">
                </div>
             <h3>Thanks, Hussnain Aslam.</h3>
             <p>Your new company account is ready to use.</p>
             <hr>
                <button class="btn" type="button" (click)="crateCompany()">Let's go!</button>
            </div>
          </div>
    </div>
</section>