<app-header></app-header>
<section >
    <div class="container-fluid">
        <div class="row">
            <div class="cover-video" >
                <div>
                    <h1>Digitize Your Document Process</h1>
                    <br>
                    <p>Contract Management simplified.</p>
                        <p>ContractHub helps teams generate, approve, eSign,<br> and manage, documents about 80% faster.</p>
                    <button>sign up</button>
                </div>
                <div>
                    <video src="assets/videos/contractHub_homePage_video.mp4" controls></video>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="cover-video">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Digitize Your Document Process</h1>
                <h6>Contract Management simplified.
                    ContractHub helps teams generate, approve, eSign, and manage, documents about 80% faster.</h6>
                <button>sign up</button>
            </div>
            <div class="col-md-6">
                <video src="assets/videos/contractHub_homePage_video.mp4" controls></video>
            </div>
        </div>
    </div>
</section> -->

<div class="container-fluid" style="background-color: rgb(246, 247, 249);">
    <section>
        <div class="container-fluid banner ">
            <div class="row">
                <div class="col-md-6 order-md-2 banner-text  mt-3">
                    <h3>Turbo-Charge Your Sales Organization</h3>
                    <br><br>
                    <p>Provide teams with an eSignature platform, standard templates and workflows, that integrate
                        everyone
                        from company counsel to management.</p>
                </div>
                <div class="col-md-6 order-md-1">
                    <br>
                    <img src="assets/images/process_1.png" alt="banner">
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br>
    <section>
        <div class="container-fluid banner">
            <div class="row">
                <div class="col-md-6 banner-text mt-3">
                    <h3>Empower Legal Teams</h3>
                    <br><br>
                    <p>Empower your team to generate agreements without changes to sensitive legal requirements.</p>

                    <p>Improve efficiency by limiting review to key, predefined contract terms.</p>

                    <p> Unlimited eSignatures standard.</p>
                </div>
                <div class="col-md-6">
                    <br>
                    <img src="assets/images/process_2.png" alt="banner">
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br>
    <section>
        <div class="container-fluid banner ">
            <div class="row">
                <div class="col-md-6 order-md-2 banner-text  mt-3">
                    <h3>Impress Customers</h3>
                    <br><br>
                    <p>Offer customers and clients a simple, error-free process with their own real-time dashboard.</p>
                </div>
                <div class="col-md-6 order-md-1">
                    <br>
                    <img src="assets/images/process_3.png" alt="banner">
                </div>
            </div>
        </div>
    </section>
    <br><br><br><br>
    <!--bussiness poster-->
    <section>
        <div class="container-fluid banner">
            <div class="row">
                <div class="col-md-6 banner-text  " style="justify-content: flex-start;">
                    <br><br>
                    <h3 class="m-left">Secure Cloud Storage</h3>
                    <br><br>
                    <p class="m-left">We keep your documents secure using top of the art security and the worlds most
                        trusted data centers owned by Amazon.</p>
                    <br><br><br>
                    <div style="display: flex;">
                        <img class="m-left" src="assets/images/icon9.png" alt="icon9"
                            style="height: 25px; width: 25px;margin-right: 25px;">
                        <h4>Real-time Backups</h4>
                        <br><br>
                        <br>
                    </div>
                    <p class="m-left">With real-time backups across 6 individual data centers located on 2 continents.
                    </p>
                    <br><br><br>
                    <div style="display: flex;">
                        <img class="m-left" src="assets/images/icon10.png" alt="icon9"
                            style="height: 25px; width: 25px;margin-right: 25px;">
                        <h4>
                            Data Rooms</h4>
                        <br><br>
                        <br>
                    </div>
                    <p class="m-left">Create your own data room with properly coded documents</p>
                </div>
                <div class="col-md-6">
                    <br>
                    <img src="assets/images/business2.png" alt="banner">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-md-10 message ">
                    <div style="margin-left: 20px;">
                        <p class="mt-5">“Founders and attorneys spend too much time changing names, dates, and signature
                            blocks - then
                            emailing and tracking documents. Worst of all, companies cannot practically access
                            information
                            contained in those documents without a time-consuming search and review.</p><br>
                        <p>
                            At ContractHub, we built a single platform to create documents without redundant inputs,
                            have
                            them signed, tracked, approved, and stored, without programming or complex onboarding. Our
                            platform then retains the underlying Meta-Data.</p><br>
                        <p>Meta Data retention captures everything from key terms in the agreement to counterparty names
                            and
                            contact information. This allows ContractHub to automate everything from bulk document
                            distribution and signature collection, to the generation of diligence schedules, reports,
                            and
                            signature blocks.</p><br>
                        <p>We thoughtfully designed ContractHub to improve legal organization and reduce workload. Best
                            of
                            all, it’s free for smaller companies, and reasonably priced for everyone else. ”</p><br>
                        <div class="user-info">
                            <img src="../../assets/images/simonJPG.png" alt="Profile Pic" class="profile-pic">
                            <div class="user-details">
                                <p style="font-weight: 500;">Simon Ginsberg, Esq<br>
                                    <span style="color: gray;">Founder, CEO</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <section>
    <div class="container-fluid" style="background-color: rgb(94, 44, 237);">
        <div class="row">
            <div class="test" style="display: flex;justify-content:space-between;">
                <h2>Check out our template
                    collection.</h2>
                <button>show</button>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container-fluid template-section " style="background-color: rgb(94, 44, 237); ">
        <div class="row">
            <div class="col-md-6 text-center ">
                <h3>Check out our update template
                    collection.</h3>
            </div>
            <div class="col-md-6 text-center ">
                <button>Show me</button>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>