<div class="table-responsive">
    <table class="table table-bordered text-center table-striped">
        <tbody>
            <!-- First row with four columns -->
            <tr>
                <td>Tittle</td>
                <td>Status</td>
                <td>with</td>
                <td>Effective Date</td>
            </tr>

            <!-- Second row with four columns -->
            <tr>
                <td><a>Hasnain Aslam</a></td>
                <td><button>Draft</button></td>
                <td><button>Hasnain Aslam</button></td>
                <td> </td>
            </tr>

            <!-- Third row with four columns -->
            <tr>
                <td><a>Hasnain Aslam</a></td>
                <td><button>Draft</button></td>
                <td><button>Hasnain Aslam</button></td>
                <td> </td>
            </tr>

            <!-- Fourth row with no columns -->
            <!-- <tr></tr> -->

            <!-- Fifth row with no columns -->
            <tr style="display: flex;justify-content: end;">

            </tr>
        </tbody>
    </table>
    <div style="width: 100%; ">
        <div style="float: right;">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
